.navigation {
  position: fixed;
  bottom: 20px;
  left: 50%;
  padding: 0.7rem 0.7rem;
  transform: translateX(-50%);
  width: max-content;
  z-index: 2;
}
.list-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  align-content: center;
  background: var(--color-par);
  border-radius: 50px;
  padding: 15px 30px;
  width: 300px;
  border-radius: 100px;
  flex-wrap: wrap;
}
.list-navigation li {
  padding: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-navigation li a {
  display: block;
  text-align: center;
}

.list-navigation li a svg {
  font-size: 20px;
color: #f0f2f4;
}
.list-navigation li a{
   border-radius: 50px;
  padding: 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.list-navigation li a.active , .list-navigation li a:hover{
  background: var(--color-button);
 
} 
 list-navigation li a span {
  display: block;
}
